services:
  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./:/app
      - node_modules:/app/node_modules
    command: ["npm", "run", "dev"]

volumes:
  node_modules:

